<!-- prettier-ignore -->
{% extends "voice_recordings/layout.html" %}
{% block title %}Storyworth: Record Your Story{% endblock %}

{% block recorder %}
<form method="post">
  {% csrf_token %}

  <!-- Input -->
  <div class="mt-8">
    <label for="phone" class="mb-2 block text-sm">Your phone number</label>
    <input
      id="phone"
      name="tel"
      type="tel"
      required
      pattern="{{ phone_number_pattern }}"
      placeholder="123-456-7890"
      class="rounded-md border border-gray-300 px-4 py-2 text-gray-900 placeholder-gray-400 focus:border-[#07939d] focus:outline-none focus:ring-2 focus:ring-[#07939d]"
    />
  </div>

  <!-- Button -->
  <button
    class="mt-4 rounded-full bg-[#07939d] px-6 py-3 font-sans text-xs uppercase tracking-wide text-white hover:bg-[#057b84] focus:bg-[#057b84] focus:outline-none focus:ring-2 focus:ring-[#07939d]"
  >
    Call me now
  </button>
</form>
{% endblock %}
